body{
   
    background-image: url(images2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    

}

h1{
    text-align:center;
}
h4{
    color: lightcoral;
}

form{
    width:500px;
    margin:50px;
    background: darkblue;
    padding: 10px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

input{
    width:400px;
    padding:8px;
    margin:10px;
}

button{
    width: 200px;
    padding:10px;
}
a{
    display:block;
    text-align:center;
    margin-top:15px;
    color: blueviolet;
}
